# Server
PORT=8000
NODE_ENV=production

# MongoDB
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.mtx2l.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret
SECRET=your_jwt_secret_here
